body {
background: #1f1f1f;
font-family: 'VT323', monospace;
font-size: 9px;
color: #ffffff;
letter-spacing: 1px;
line-height: 200%;
text-transform: lowercase;
text-align: justify;
}


#main {
width:350px;
position: fixed;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -100px;
border-radius: 15px;
}


#song {
background: #ffffff;
border: solid 2px black;
border-radius: 15px;
margin-top: 15px;
color: #000000;
text-align: center;
padding-top:10px;
padding-bottom:10px;
}

#nav {
font-family: 'VT323', monospace;
font-size: 15px;
letter-spacing: 2px;
color: #ffce3f;
padding-left:15px;
}

#bottom {
text-align: right;
margin-top: 5px;
}




