body {
background: #201c2a;
font-family: 'Roboto Mono', monospace;
color: #8a7ab8;
text-transform: lowercase;
text-align: justify;
}

img {
border-radius: 15px;
}

#main {
width:550px;
position: fixed;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -100px;
border-radius: 15px;
}


#song {
height: 50px;
width: 400px;
background: #4f2a53;
color: #181719;
border-radius: 15px;
text-align: center;
font-size: 10px;
padding-top:5px;
padding-bottom:10px;
float: right;
}

.nav {
float: left;
margin-top: 0px;
}

#navlink {
height: 20px;
width: 145px;
background: #4f2a53;
color: #181719;
border-radius: 15px;
letter-spacing: 3px;
text-align: center;
line-height: 20px;
font-size: 11px;
margin-bottom:3px;
}

#navlink:hover{
background: #4f2a53;
color: #ffce3f;
}

#bottom{
float:left;
}

#botlink{
height:20px;
border-radius: 15px;
letter-spacing: 4px;
text-align: left;
line-height: 20px;
font-size: 10px;
}

#botlink:hover{
text-decoration: none;
color: #ffce3f;
}
